body {
  background-color: hsla(50, 33%, 25%, .75);
  width: 100vw;
  height: 100vh
  font-family: "Open Sans";
  color: #ffffff;

}

main {
  display:flex;
  /* background-color: #ffffff; */
  /* width: 100vw; */
  /* height: 100vh */
  font-family: "Open Sans"

}
.player {
  padding-top: 200px;
  background-color: black;
  width: 25vw;
  height: 100vh;

}
h1,
h2 {
  margin:75px;
  text-align: center;
  min-width: max-content;
}

.game-board {
  padding-top: 200px;
  width: 50vw;

}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
}

.buttons button {
 width: 16vw;
 height: 16vh;
 margin: 0;
 padding: 0;
 border: 0.2vw solid black;
 background-color: #ffffff;

}

.buttons button.no-top {
  border-top-color: #ffffff;
}

.buttons button.no-left {
  border-left-color: #ffffff;
}

.buttons button.no-right {
  border-right-color: #ffffff;
}

.buttons button.no-bottom {
  border-bottom-color: #ffffff;
}
